<!DOCTYPE html>
<html>
<head>
    <title>Is CI Down?</title>
    <style type="text/css">
        @import url('index.css')
    </style>
</head>
<body>
    <div class="centered">{{ state }}</div>
</body>
</html>
